.pets{

display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
gap: 2rem;

}
.pets div{
    flex-basis: 45%;
}
.pet-flex{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #EFEEF1;

   
}

.pet-flex div{
    flex-basis: 45%;
}

.img{
    height: 30vh;
}
.info{
    margin-top: 1rem;
    padding: .5rem;
}

.name{
    font-size: 3rem;
    font-weight: 600;
 
  
}
.pet-paragraph{
    font-size: .8rem;
    font-weight: 300;
    
    
}
em{
    font-weight: 800;
}

@media only screen and (max-width:767px) {
    .pets{
        margin: 0 1rem !important;
     
        flex-direction: column;
        display: block !important;

        

        }
        .pets div{
            flex-basis: 100%;
          
        }
        .pet-flex{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            margin-bottom: 1rem;
           
        }

        
        .pet-flex div{
            flex-basis: 100% !important;
        }
        
  
        .info{
       
            padding: 1rem;
           
           
          
        }
        
    
    
  }