.dashboard{
    background-image: url(./dasboard.svg);
    
    width: 100%;
    background-size: cover;
    padding: 0.3rem;
    position: relative;
}
.logout{
position: absolute;
right: 1rem;
font-size: .8rem;
color: white;
}

.container{
  display: grid;
  grid-template-rows: auto auto;
  padding-bottom: 1%;
}
.h1-dashboard{
margin-top: 20vh;
font-size: 8vw;
text-align: center;
color: white;
}
.links-dashboard{
    border: 0.2rem solid white;
    border-radius: 0.5rem;
padding:.5rem ;
margin-top: 7%;
width: 99.5vw;

}
.li-pets {
    display: inline-block;
    list-style: none;

    font-weight: 400;
  color: white;
  font-size: 3vw;
  margin: 0 11vw;
  }
  .active-link {
    border-bottom: 0.2rem solid #f4bb75;
  }


  @media only screen and (max-width:768px) {
    .links-dashboard{
display: none;
  
  }
    .h1-dashboard{
      margin-top: 10vh;
      font-size: 5vw;
      text-align: center;
      color: white;
      }
   .dashboard{
    background-image: url(./dasboard.svg);

    width: 100%;
    height: 20vh;
    background-size: cover;
    padding: 0.3rem;
    position: relative;
} 
}

