.plus{
    margin: 2rem auto;
    border-radius: 10rem;
    background-color: #EFEEF1;
    width: 5rem;
    height: 5rem;
    transition: all .3s;

}
.plus:hover{
transform: scale(1.3);
}

.fa-plus{

    font-size: 3rem;
    margin: 1rem 1.2rem;
    

}

.fachange{
margin: .5rem;
transition: all .3s;
}

.fachange:hover{
transform: scale(1.3);
}
.fatrash{
    transition: all .3s;

}
.fatrash:hover{
transform: scale(1.3);
}



.change{
    position: absolute;
    right: 2rem;
}


.news-box{
    background-color: #EFEEF1;
    margin: 2rem auto;
    width: 90vw;
    padding: 1rem;
    position: relative;

}
.name{
   font-size: 3rem;
    font-weight: 600;
}
.p-news{
   font-size: .8rem;
    font-weight: 300;
}
