.header {
  height: 95vh;
  background-size: cover;
  background-position: center;
  padding: 0.3rem;
}

.navbar {
  border: 0.2rem solid white;
  border-radius: 0.5rem;
  position: relative;
}
.dogatas {
  padding: 1rem;
  font-weight: 400;
  color: #f4bb75;
  font-size: 3rem;
  display: inline-block;
}

li {
  display: inline;
  list-style: none;
  margin: 1rem;
}
.links {
  font-weight: 400;
  color: white;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  display: inline-block;
  font-size: 2rem;
}
.main-header {
  font-weight: 800;
  font-size: 10rem;
  color: white;
  border-bottom: 0.3rem solid #f4bb75;
  display: inline-block;
  margin-left: 2rem;
}
.sub-header {
  font-weight: 400;
  color: white;
  font-size: 2rem;
  margin: 1rem 2rem;
}

a {
  text-decoration: none;
  color: white;
}

.active-link {
  border-bottom: 0.2rem solid #f4bb75;
}

@media only screen and (max-width: 768px) {
  .header {
    height: 35vh;
    background-size: cover;
  }

  .main-header {
    font-size: 3.5rem;
    margin-top: 0 !important;
    display: inline-block;
  }
  .sub-header {
    font-size: 1rem;
  }

  .navbar {
    display: none;
  }
}
