.delete{
    background-color: #EFEEF1;
    width: 40%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.h1-delete{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.btn-delete{
    border: solid .15rem #9D6934 ;
    color: #9D6934;
    padding: .3rem 2rem;
    font-size: 1rem;
    margin: 1.5rem .5rem;

}
.btn-delete:hover{
    background-color: #9D6934;
    color: white;
}

@media only screen and (max-width:768px) {
    .delete{
        width: 99%;
    }
    .h1-delete{
        font-size: .9rem;
 
    }
    .btn-delete{

        font-size: .5rem;

    
    }
  
    
  }