.plus {
  margin: 2vh auto;
  border-radius: 10rem;
  background-color: #efeef1;
  width: 5rem;
  height: 5rem;
  transition: all 0.3s;
}
.plus:hover {
  transform: scale(1.3);
}
.pet-flex{
  margin: 1rem;
}
.pets-dashboard {
  margin: 3rem;
  
}

.fa-plus {
  font-size: 3rem;
  margin: 1rem 1.2rem;
}
.fachange {
  transition: all 0.3s;
}
.fachange:hover {
  transform: scale(1.3);
}

.pet-flex-dashboard {
 
  background-color: #efeef1;
  justify-content: center;
}

.pet-flex-dashboard div {
  flex-basis: 48%;
}

.info {
  margin-top: 1rem;
  position: relative;
}
.change-icons {
  position: absolute;
  right: 0rem;
}

.name {
  font-size: 3rem;
  font-weight: 600;
}
.pet-paragraph {
  font-size: 0.8rem;
  font-weight: 300;
}


