.pets{
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
    }
    .pets div{
        flex-basis: 45%;
    }
    .pet-flex{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: #EFEEF1;
    
    
       
    }
    
    .pet-flex div{
        flex-basis: 48%;
    }
    
    .img{
        height: 15rem;
    }
    .info{
        margin-top: 1rem;
        position: relative;
    }
    .change-icons{
        position: absolute;
       right: 0rem;
    }
    
    .name{
        font-size: 3rem;
        font-weight: 600;
      
    }
    .pet-paragraph{
        font-size: .8rem;
        font-weight: 300;
        
    }